$base-l: #fff;
// $base-m: #F2F2F2;
$base-m: #ECF0F6;

// $contrast-m: #b2b2b2;
// $contrast-d: #2A2A2A;
$contrast-m: #ABB7C9;
$contrast-d: #1F3051;

$primary-l: #FFDBDE;
$primary-m: #FF8084;
$primary-d: #EF5D61;



