@use 'sass:math';
@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');


$base-size:1.1rem;

$ratio1:1.200;
$ratio2:1.414;
$ratio3:1.618;
$ratio4:2;

$font-sizes:(
    h1: $base-size * math.pow($ratio1 , 3),
    h2: $base-size * math.pow($ratio1 , 2),
    h3: $base-size * $ratio1,
    h4: $base-size,
    h5: calc($base-size / $ratio1),
    h6: calc($base-size / math.pow($ratio1 , 2)),
    p: $base-size,
);

$font-body: lato, helvetica, sans-serif;
$font-heading: "playfait display", georgia, serif;

$headerHeight: calc(map-get($font-sizes , h1) * 1.5 + 2rem);

$fw-bold: 700;
$fw-regular: 400;
$fw-light: 200;


$lh-ratio: 4;