@use 'sass:math';
@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet');


$base-size:1.125rem;

$ratio1:1.200;
$ratio2:1.414;
$ratio3:1.618;
$ratio4:2;
$ratio5:2.3;
$ratio6:3;
$ratio7:5;


$font-sizes:(
    h1: 30px,
    h2: 28px,
    h3: 22px,
    h4: 18px,
    title: 20px,
    p: $base-size,
);

$font-body: ubuntu, helvetica, sans-serif;
$font-heading: ubuntu, helvetica, sans-serif;

$fw-bold: 700;
$fw-regular: 400;
$fw-light: 300;

$lh-ratio: 1;