@use 'sass:math';

/* MARGIN/PADDING ================================*/
$TB-marg-pad-s: 1rem;
$TB-marg-pad-m: 1.8rem;
$TB-marg-pad-l: 3rem;
$LR-marg-pad-s:2%;
$LR-marg-pad-m:5%;
/* GAP ================================*/
$deft-gap: 1rem;

/* MEASUREMENT ================================*/

/* MEDIA QUERIES ================================*/
$sw-s: 400px;
$sw-s-m: 600px;
$sw-m: 840px;
$sw-m-l: 1100px;
$sw-l: 1440px;
$sw-xl: 1700px;
$sw-xxl: 1920px;
/* Border ================================*/

$highCurve-radius:calc(calc(calc(100vw - 3.6rem) / 1800) * 268);

$border-thickness: calc(calc(calc(100vw - 20rem) / 2800) * 32);
// $border-thickness: calc(calc(calc(100vw - 3.6rem) / 1600) * 16);



