@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/typography' as t;

header {
    .header-container{
        display: flex;
        flex-flow: row, nowrap;
        justify-content: space-between;
        padding: 1rem 0;

        .logo{
            width:120px ;
        }
        .menu-on img{
            width: 30px;
        }
    }

    .menu-container{
        background-color: c.$base-m;
        width: 100%;
        height: 100%;        
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
        padding: 1rem 0;
        
        .max-width{
            display: grid;
            grid-gap: 2rem;
            grid-template-rows: auto auto auto;
            // grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
            margin: unset auto;
            padding: 0 1rem;
            
            .menu-off{
                grid-column:1/-1 ;
                justify-self: end;
            }
            @media screen and (min-width: v.$sw-s-m){
                grid-template-columns: repeat(2, 1fr);
                .menu-navigation{
                    grid-row: 2/3;
                    grid-column: 2/-1;
                }
                .menu-contact{
                    grid-row: 2/3;
                    grid-column: 1/2;
                }                
            }
        }

        h3.h3-italic{
            font-style: italic;
            font-weight:t.$fw-regular ;
            color:c.$primary-m ;
            margin-bottom: .75rem;
        }

        li.behance{
            display: none;
        }
        
        li a{
            color: c.$contrast-d;
            line-height: 2;
            padding-left: .5rem;
            font-weight: bold;

            &:hover{
                border-left:4px solid c.$primary-m ;
            }
        }




        .menu-navigation{
            grid-column: 1/-1;
            grid-row: 2;
            @media screen and (min-width: v.$sw-m){
                grid-column: 2/-1;
                grid-row: 2;               
            }
        }    
        .menu-contact{
            grid-column: 1/-1;
            grid-row: 3;
            @media screen and (min-width: v.$sw-m){
                grid-column: 1/2;
                grid-row: 2;               
            }
        }

        animation: ease-in-out;

    }
   
}

//     &.show-search .search-container-box{
//         transform: translateX(0);
//         // transform: translateY(0);
//             }
// }


