@use '../abstracts/mixins' as m;
@use '../abstracts/colors' as c;
@use '../abstracts/typography' as t;
@use '../abstracts/variables' as v;

/* Images and frames =================== */
.img-container{
    display: flex;
    align-items: center;
    background-color: var(--accent-color);
}

// img{
//     &.sw-xs{
//         max-width: v.$sw-xs;
//     }
//     &.sw-s{
//         max-width: v.$sw-s;
//     }
//     &.sw-sm{
//         max-width: v.$sw-s-m;
//     }
//     &.sw-m{
//         max-width: v.$sw-m;
//         max-width: 100%;
//     }

    
// }

.left-bottom-curved{
background-color: c.$contrast-m;
border-bottom-left-radius:v.$highCurve-radius;
margin: calc(-1 * v.$border-thickness) calc(-1 * v.$border-thickness) v.$border-thickness v.$border-thickness;
overflow: hidden;
}
.right-bottom-curved{
background-color: c.$contrast-m;
border-bottom-right-radius:v.$highCurve-radius;
margin: calc(-1 * v.$border-thickness) v.$border-thickness v.$border-thickness calc(-1 * v.$border-thickness);
overflow: hidden;
}
.left-top-curved{
background-color: c.$contrast-m;
border-top-left-radius:v.$highCurve-radius;
margin: calc(-1 * v.$border-thickness) calc(-1 * v.$border-thickness) v.$border-thickness v.$border-thickness;
margin: v.$border-thickness  calc(-1 * v.$border-thickness) calc(-1 * v.$border-thickness) v.$border-thickness;
overflow: hidden;
}
.right-top-curved{
background-color: c.$contrast-m;
border-top-right-radius:v.$highCurve-radius;
margin: v.$border-thickness v.$border-thickness calc(-1 * v.$border-thickness) calc(-1 * v.$border-thickness);
overflow: hidden;
}

// section:has(.zoomedIn){
//     background-color: red;

// }

// .zoomable{
//     transition: all .5s ease-in-out;
//     &:hover{
//         cursor: zoom-in;
//     }

//     &.zoomedIn{
//         margin: auto;        
//         width: 100%;
//         height: auto;

//         &:hover{
//             cursor: zoom-out;
//         }
//     }
// }

// body:has(.zoomedIn) > *{
//     // display: none;
//     & > .zoomedIn{
//         display: unset;
//     }
// }

