@use '../abstracts/mixins' as m;
@use '../abstracts/colors' as c;
@use '../abstracts/typography' as t;
@use '../abstracts/variables' as v;

/* Images and frames =================== */
.BW-img{
    filter: grayscale(100%);
}

.img-container{
    display: flex;
    align-items: center;
    background-color: c.$contrast-m;  
    // dark mode
    // background-color: c.$base-l;  
}

.left-bottom-curved{
    background-color: c.$base-l;
    // dark mode
    // background-color: c.$contrast-m;
    border-bottom-left-radius:map-get(v.$curve-radius , xs );
    // border-top-right-radius:calc(map-get(v.$curve-radius , xs ) - 2.2rem);
    @media screen and (min-width: v.$sw-s-m){
        border-bottom-left-radius:map-get(v.$curve-radius , s-m );
        // border-top-right-radius:calc(map-get(v.$curve-radius , s-m ) - 2.2rem);
    }
    @media screen and (min-width: v.$sw-m-l){
        border-bottom-left-radius:map-get(v.$curve-radius , m-l );
        // border-top-right-radius:0;
    }
    @media screen and (min-width: v.$sw-xl){
        border-bottom-left-radius:map-get(v.$curve-radius , xl );
        border-top-right-radius:0
    }
    margin: calc(-1 * v.$border-thickness) calc(-1 * v.$border-thickness) v.$border-thickness v.$border-thickness;
    overflow: hidden;
}
.right-bottom-curved{
    background-color: c.$base-l;
    // dark mode
    // background-color: c.$contrast-m;
    border-bottom-right-radius:map-get(v.$curve-radius , xs );
    @media screen and (min-width: v.$sw-s-m){
        border-bottom-right-radius:map-get(v.$curve-radius , s-m );
    }
    @media screen and (min-width: v.$sw-m-l){
        border-bottom-right-radius:map-get(v.$curve-radius , m-l );
    }
    @media screen and (min-width: v.$sw-xl){
        border-bottom-right-radius:map-get(v.$curve-radius , xl );
    }
    margin: calc(-1 * v.$border-thickness) v.$border-thickness v.$border-thickness calc(-1 * v.$border-thickness);
    overflow: hidden;
}
.left-top-curved{
    background-color: c.$contrast-m;
    border-top-left-radius:map-get(v.$curve-radius , xs );
    @media screen and (min-width: v.$sw-s-m){
        border-top-left-radius:map-get(v.$curve-radius , s-m );
    }
    @media screen and (min-width: v.$sw-m-l){
        border-top-left-radius:map-get(v.$curve-radius , m-l );
    }
    @media screen and (min-width: v.$sw-xl){
        border-top-left-radius:map-get(v.$curve-radius , xl );
    }
    margin: calc(-1 * v.$border-thickness) calc(-1 * v.$border-thickness) v.$border-thickness v.$border-thickness;
    margin: v.$border-thickness  calc(-1 * v.$border-thickness) calc(-1 * v.$border-thickness) v.$border-thickness;
    overflow: hidden;
}
.right-top-curved{
    background-color: c.$contrast-m;
    border-top-right-radius:map-get(v.$curve-radius , xs );
    @media screen and (min-width: v.$sw-s-m){
        border-top-right-radius:map-get(v.$curve-radius , s-m );
    }
    @media screen and (min-width: v.$sw-m-l){
        border-top-right-radius:map-get(v.$curve-radius , m-l );
    }
    @media screen and (min-width: v.$sw-xl){
        border-top-right-radius:map-get(v.$curve-radius , xl );
    }
    margin: v.$border-thickness v.$border-thickness calc(-1 * v.$border-thickness) calc(-1 * v.$border-thickness);
    overflow: hidden;
}


.figure{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: .5rem;
}

.framed{
    padding: 1rem;
    border: 4px #fff solid;
    border-radius: 2rem;

    &>*{
        border-radius: 1rem;        
    }
    .v-scrollable{     
        overflow: hidden;
        overflow-y: scroll;
    }
    &.desktop .v-scrollable{
        @media (orientation: portrait){
            max-height: 35vh;
        }        
        @media (orientation: landscape){
            max-height: 50vh;
        }        
    }
    &.mobile .v-scrollable{
        @media (orientation: portrait){
            max-height: 85vh;
            min-height: 70vh;
        }        
        @media (orientation: landscape){
            max-height: 50vh;
        }        
    }
    &.mobile-long .v-scrollable{
        @media (orientation: portrait){
            max-height: 85vh;
            min-height: 70vh;
        }        
        @media (orientation: landscape){
            height: 63vh;
        }        
    }

    &.tall .v-scrollable{
        max-height: 75vh;
    } 

    
    ::-webkit-scrollbar{
        width: 8px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: var(--accent-color-m);
        border-radius: 16px;
    }
    ::-webkit-scrollbar-track{
        background-color: c.$contrast-m;
        border-radius: 16px;
    }
}

li img{
    margin: .5rem auto 0 auto;
    @media screen and (min-width: v.$sw-m){
        max-width: 50%;
    }
    
}



/* Zoomable Images */
.zoomable {
  max-width: 100%;
  height: auto;
  cursor: pointer; /* Indicates that the image is clickable */
  transition: transform 0.3s ease;
  
}

/* The full-screen overlay */
#fullscreen-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
//   display: flex; /* Ensure it's not hidden if the JS fails */
  align-items: center;
  justify-content: center;
}

#fullscreen-image {
  max-width: 100vw;
  max-height: 100vh;
  height: auto;
  object-fit: contain;
  display: block;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 45px;
  padding: .5rem !important; 
//   background:c.$base-m;
  color: c.$contrast-d;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}