@use '../abstracts/mixins' as m;
@use '../abstracts/colors' as c;
@use '../abstracts/typography' as t;
@use '../abstracts/variables' as v;

/* Sticker =================== */

.stickers{
    margin-bottom: 2rem;
    display: grid;
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    @media screen and (min-width: v.$sw-m){
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: v.$sw-m-l){
        grid-template-columns: repeat(3, 1fr);
    }
    .sticker{
        .title{
            margin-bottom: .75rem;
        }
        li{
            padding-left: 0 !important;
            margin-bottom: .25rem !important;
        }
        min-width: 300px;
        max-width:400px;
        // background-image: in html code
        background-repeat: no-repeat;
        background-position: center;
        color: c.$contrast-d;   
        text-align: center;
        padding: 2rem 1rem 4rem 1rem;
        p{
            text-wrap:nowrap;
        }       
    }
}


/* Sticker html Code

<div class="stickers">
    <div class="sticker" style="background-image: url(../Assets/Images/Sticker.svg);">
        <span class="title">Tite</span>
        <ul class="no-bullet-list-style">
            <li>text</li>
        </ul>
    </div>
</div>


*/