@use 'sass:math';
@use '../abstracts/colors' as c;
@use '../abstracts/typography' as t;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;


/* ANIMATION ==============*/

html{
	scroll-behavior: smooth;
}

.body-home, .all-projects{
    .feat-projects section:hover, .projects section:hover{
        & a {
            color: c.$primary-l !important;
			text-decoration: underline !important;
        }
        & a div img{
            transform: scale(1.05);
            transition:all .3s ease-in-out;
        }
	}
    .feat-projects section:not(hover), .projects section:not(hover){
        & a div img{
            transition:all .3s ease-in-out;
        }
	}
}








@mixin animationPulse($tm:1s , $sc:1.2){
	animation: pulse $tm ease-in-out infinite;
    @keyframes pulse {
        50% {
            transform: scale($sc);
        }
    }
}

@mixin animationShine($c1:c.$base-m , $c2:c.$secondary-m , $tm:2s){
	background: linear-gradient(to right, $c1 20%, $c2 40%, $c2 60%, $c1 80%);
	background-size: 200% auto;
	color: $c1;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine $tm linear infinite;

	@keyframes shine {
		to {
		background-position: 200% center;
		}
	}	
}