@use 'sass:math';
@use '../abstracts/colors' as c;
@use '../abstracts/typography' as t;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;


/* TYPOGRAPHY ==============*/

body {
    line-height: 1.7;
	font-family: t.$font-body;
	font-weight: t.$fw-regular;
    font-size: map-get(t.$font-sizes , p );

    background-color: c.$contrast-d;
    color: c.$base-m;
}

.bold-text {
    font-weight: t.$fw-bold;
}

.caption{
	font-size: calc(map-get(t.$font-sizes , p ) - 3px);
}

a{
	text-decoration: none;
	color: c.$primary-m;
	&:visited {
		color: c.$contrast-m;
	}

	&:hover {
		color: c.$primary-l;
	}
}

a.inline-link{
	text-decoration: underline;		
	color: var(--accent-color-m) !important;
	box-shadow: none !important;
	background-color: unset !important;
	padding: unset !important;
	&:visited {
		color: var(--accent-color-m);
	}

	&:hover {
		color: c.$contrast-m;
	}
}

.social-media a {
	text-decoration: none;
	color: c.$primary-l;
	font-size: 32px;
}

.gradient-text{
	@include m.gradient-radial;
}

.space-after{
	margin-bottom: 2.5rem;
}
.two-space-after{
	margin-bottom: 4rem;
}

p{
	margin-bottom: 1.5rem;
}

p.remove-space-after{
	margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
	font-family: t.$font-heading;
	line-height:1;
	padding: 0;
    margin: 0;
}

.title{
	display: block;
	font-weight: bold;
	font-size: map-get(t.$font-sizes , title );
	margin: 2.5rem unset 1.5rem unset;

	&.italic{
		font-size: calc(map-get(t.$font-sizes , title ) + 6px);
		font-weight: normal;
		font-style: italic;
	}
}

h1 {
	font-size: map-get(t.$font-sizes , h1 );
	margin-bottom: 1.125rem;
	& .h1-subheading{
		font-size: calc(map-get(t.$font-sizes , h1 ) / t.$ratio3);		
	}	

	@media screen and (min-width: v.$sw-s-m){
		font-size: t.$ratio3*map-get(t.$font-sizes , h1 );
		margin-bottom: 0.75rem;
		& .h1-subheading{
			font-size: calc(t.$ratio3 * map-get(t.$font-sizes , h1 ) / t.$ratio3);		
		}
	}
	@media screen and (min-width: v.$sw-m){
		font-size: t.$ratio4*map-get(t.$font-sizes , h1 );
		& .h1-subheading{
			font-size: calc(t.$ratio4 * map-get(t.$font-sizes , h1 ) / t.$ratio3);		
		}
	}
	@media screen and (min-width: v.$sw-m-l){
		font-size: t.$ratio5*map-get(t.$font-sizes , h1 );
		// margin-bottom: 1rem;
		& .h1-subheading{
			font-size: calc(t.$ratio5 * map-get(t.$font-sizes , h1 ) / t.$ratio3);		
		}
	}

	& .h1-italic{
		font-style: italic;
		font-weight:t.$fw-regular ;
		color: c.$primary-l;
	}

	& .h1-bold{
		font-style: normal;
		font-weight:t.$fw-bold ;	
		color: c.$primary-l;	
	}

	& .h1-subheading{
		font-style: italic;
		font-weight:t.$fw-regular ;		
	}
}

h2{
	font-size: map-get(t.$font-sizes , h2 );
	margin-bottom: calc(map-get(t.$font-sizes , h2 )/t.$lh-ratio);

	@media screen and (min-width: v.$sw-m){
		font-size: t.$ratio2*map-get(t.$font-sizes , h2 );
	}
	@media screen and (min-width: v.$sw-l){
		font-size: t.$ratio4*map-get(t.$font-sizes , h2 );
	}

	& .h2-italic{
		font-style: italic;
		font-weight:t.$fw-regular ;
		color:c.$primary-m ;
	}

	& .h2-bold{
		font-style: normal;
		font-weight:t.$fw-bold ;
		color: c.$primary-l;		
	}
}

h3{
	padding-bottom: .75rem;
	font-size: map-get(t.$font-sizes , h3 );
	// margin-bottom: calc(map-get(t.$font-sizes , h3 )/t.$lh-ratio);
	font-weight: 400;
	font-style: italic;

	@media screen and (min-width: v.$sw-m){
		font-size: t.$ratio1*map-get(t.$font-sizes , h3 );
	}

	@media screen and (min-width: v.$sw-l){
		font-size: t.$ratio3*map-get(t.$font-sizes , h3 );
	}	
}


h4{
	padding-bottom: .75rem;
	font-size: map-get(t.$font-sizes , h4 );
	margin-bottom: calc(map-get(t.$font-sizes , h4 )/t.$lh-ratio);

	@media screen and (min-width: v.$sw-m){
		font-size: t.$ratio1*map-get(t.$font-sizes , h4 );
	}
	@media screen and (min-width: v.$sw-l){
		font-size: t.$ratio3*map-get(t.$font-sizes , h4 );
	}
	padding: 1rem 0 .7 0;
}


/* DESIGN ==============*/


.colored{
	color: var(--accent-color-m);
}
.colored-d{
	color: var(--accent-color-d);
}


/* LAYOUT ==============*/
.two-column{
	columns: 300px 2;
	column-gap: 2.5rem;
}

ol.two-column{
	column-gap: 3.5rem;
}

.list-style{
	list-style:disc;
	padding-left: 1rem;
	li{
		margin-bottom: .5rem;          
	}
}

.ordered-list-style-2-digits{
	list-style: decimal-leading-zero;
	padding-left: 2rem;
	li{
		margin-bottom: 1rem;          
	}
}

.ordered-list-style-1-digit{
	list-style:decimal;
	padding-left: 2rem;
	li{
		margin-bottom: 1rem;          
	}
}

.max-width{
	max-width: v.$sw-m-l !important;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem 0 1rem;
	@media screen and (min-width: calc(v.$sw-m-l + 4rem)){
		padding: 0;
	}
}

.full-width{
	max-width: 100%;
	margin: 0 auto 4rem auto; 
	background-color: c.$base-l;
	color: c.$contrast-d;
	padding: v.$TB-marg-pad-m 0 v.$TB-marg-pad-m 0;
	@media screen and (min-width: v.$sw-l){
		padding-left: calc(calc(calc(100vw - v.$sw-m-l) / 2) + v.$TB-marg-pad-m);
		padding-right: calc(calc(calc(100vw - v.$sw-m-l) / 2) + v.$TB-marg-pad-m);
	}
}



.grid{
	margin-bottom: 2rem;
	display: grid;
	grid-template-columns: repeat(12,1fr);
	gap: v.$deft-gap;
	justify-content: center;
	justify-items: center;

	&.gap6{
		grid-gap: 6rem !important;
	}

	&.align-items-center{
		align-items: center;
	}
	&.justify-items-start{
		justify-items: start;
	}

	& > *{
		grid-column: span 12;
	}

	& .col-m-1{
		@media screen and (min-width: v.$sw-m){
			grid-column: span 1;
		}
	}

	& .col-m-2{
		@media screen and (min-width: v.$sw-m){
			grid-column: span 2;
		}
	}
	& .col-m-3{
		@media screen and (min-width: v.$sw-m){
			grid-column: span 3;
		}
	}
	& .col-m-4{
		@media screen and (min-width: v.$sw-m){
			grid-column: span 4;
		}
	}
	& .col-m-5{
		@media screen and (min-width: v.$sw-m){
			grid-column: span 5;
		}
	}
	& .col-m-6{
		@media screen and (min-width: v.$sw-m){
			grid-column: span 6;
		}
	}
	& .col-m-7{
		@media screen and (min-width: v.$sw-m){
			grid-column: span 7;
		}
	}
	& .col-m-8{
		@media screen and (min-width: v.$sw-m){
			grid-column: span 8;
		}
	}
	& .col-m-9{
		@media screen and (min-width: v.$sw-m){
			grid-column: span 9;
		}
	}

	& .col-ml-1{
		@media screen and (min-width: v.$sw-m-l){
			grid-column: span 1;
		}
	}	
	& .col-ml-2{
		@media screen and (min-width: v.$sw-m-l){
			grid-column: span 2;
		}
	}	
	& .col-ml-3{
		@media screen and (min-width: v.$sw-m-l){
			grid-column: span 3;
		}
	}	
	& .col-ml-4{
		@media screen and (min-width: v.$sw-m-l){
			grid-column: span 4;
		}
	}	
	& .col-ml-5{
		@media screen and (min-width: v.$sw-m-l){
			grid-column: span 5;
		}
	}	
	& .col-ml-6{
		@media screen and (min-width: v.$sw-m-l){
			grid-column: span 6;
		}
	}
	& .col-ml-8{
		@media screen and (min-width: v.$sw-m-l){
			grid-column: span 8;
		}
	}
	& .col-ml-9{
		@media screen and (min-width: v.$sw-m-l){
			grid-column: span 9;
		}
	}
}
