@use 'sass:math';
@use '../abstracts/colors' as c;
@use '../abstracts/typography' as t;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;


/* TYPOGRAPHY ==============*/

body {
    line-height: 1.7;
	font-family: t.$font-body;
	font-weight: t.$fw-regular;
    font-size: map-get(t.$font-sizes , p );

    background-color: c.$contrast-d;
    color: c.$base-m;
}

.bold-text {
    font-weight: t.$fw-bold;
}
.inline-link{
	font-weight: bold;
	color: var(--accent-color) !important;
	&:hover{
		color: c.$contrast-m !important;
		text-decoration: underline;
	}
}
.gradient-text{
	@include m.gradient-radial;
}

p{
	margin-bottom: .75rem;
	// padding-top: .75;
}

h1,
h2,
h3,
h4 {
	font-family: t.$font-heading;
	line-height:1;
	padding: 0;
    margin: 0;
}

.title{
	display: block;
	font-weight: bold;
	font-size: t.$ratio1*map-get(t.$font-sizes , title );
	margin: 2.5rem unset 1.5rem unset;

	@media screen and (min-width: v.$sw-m){
		font-size: t.$ratio2*map-get(t.$font-sizes , title );
	}

	.italic{
		font-weight: normal;
		font-style: italic;
	}
}

h1 {
	font-size: map-get(t.$font-sizes , h1 );
	margin-bottom: calc(map-get(t.$font-sizes , h1 )/t.$lh-ratio);
	
	@media screen and (min-width: v.$sw-s-m){
		font-size: t.$ratio3*map-get(t.$font-sizes , h1 );
	}
	@media screen and (min-width: v.$sw-m){
		font-size: t.$ratio4*map-get(t.$font-sizes , h1 );
	}
	@media screen and (min-width: v.$sw-m-l){
		font-size: t.$ratio5*map-get(t.$font-sizes , h1 );
	}


	& .h1-italic{
		font-style: italic;
		font-weight:t.$fw-regular ;
		color: c.$primary-l;
	}

	& .h1-bold{
		font-style: normal;
		font-weight:t.$fw-bold ;	
		color: c.$primary-l;	
	}
}

h2{
	font-size: map-get(t.$font-sizes , h2 );
	margin-bottom: calc(map-get(t.$font-sizes , h2 )/t.$lh-ratio);

	@media screen and (min-width: v.$sw-m){
		font-size: t.$ratio2*map-get(t.$font-sizes , h2 );
	}
	@media screen and (min-width: v.$sw-l){
		font-size: t.$ratio4*map-get(t.$font-sizes , h2 );
	}

	& .h2-italic{
		font-style: italic;
		font-weight:t.$fw-regular ;
		color:c.$primary-m ;
	}

	& .h2-bold{
		font-style: normal;
		font-weight:t.$fw-bold ;
		color: c.$primary-l;		
	}
}

h3{
	padding-bottom: .75rem;
	font-size: t.$ratio1*map-get(t.$font-sizes , h3 );
	margin-bottom: calc(map-get(t.$font-sizes , h3 )/t.$lh-ratio);
	font-weight: 400;
	font-style: italic;

	@media screen and (min-width: v.$sw-m){
		font-size: t.$ratio2*map-get(t.$font-sizes , h3 );
	}

	@media screen and (min-width: v.$sw-l){
		font-size: t.$ratio4*map-get(t.$font-sizes , h3 );
	}
	
}


h4{
	font-size: map-get(t.$font-sizes , h4 );
	margin-bottom: calc(map-get(t.$font-sizes , h4 )/t.$lh-ratio);

	@media screen and (min-width: v.$sw-m){
		font-size: t.$ratio1*map-get(t.$font-sizes , h4 );
	}
	@media screen and (min-width: v.$sw-l){
		font-size: t.$ratio2*map-get(t.$font-sizes , h4 );
	}
	padding: 1rem 0 .7 0;
}


a {
	text-decoration: none;
	color: c.$primary-m;

	&:visited {
		color: c.$contrast-m;
	}

	&:hover {
		color: c.$primary-l;
	}
}

.social-media a {
	text-decoration: none;
	color: c.$primary-l;
	font-size: 32px;
}

.two-column{
	columns: 300px 2;
	column-gap: 2.5rem;
}

.list-style{
	list-style:disc;
	padding-left: 2rem;
	li{
		margin-bottom: 1rem;          
	}
}

.ordered-list-style{
	list-style: decimal-leading-zero;
	padding-left: 2rem;
	li{
		margin-bottom: 1rem;          
	}
}

.colored{
	color: var(--accent-color);
}

.max-width{
	max-width: v.$sw-m-l !important;
	margin-left: auto;
	margin-right: auto;
	padding: 0 2rem 0 2rem;
	@media screen and (min-width: calc(v.$sw-m-l + 4rem)){
		padding: 0;
	}
}

.full-width{
	max-width: 100%;
	margin: 0 auto 4rem auto; 
	background-color: c.$base-l;
	color: c.$contrast-d;
	padding: v.$TB-marg-pad-m 0 v.$TB-marg-pad-m 0;
	@media screen and (min-width: v.$sw-l){
		padding-left: calc(calc(calc(100vw - v.$sw-m-l) / 2) + v.$TB-marg-pad-m);
		padding-right: calc(calc(calc(100vw - v.$sw-m-l) / 2) + v.$TB-marg-pad-m);
	}
}

.grid{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	gap: v.$deft-gap;

	& > *{
		grid-column: span 12;
	}

	& .col-swm-6{
		@media screen and (min-width: v.$sw-m){
			grid-column: span 6;
		}
	}
	margin-bottom: 2rem;
}

// $sw-s: 400px;
// $sw-s-m: 600px;
// $sw-m: 840px;
// $sw-m-l: 1100px;
// $sw-l: 1440px;
// $sw-xl: 1700px;
// $sw-xxl: 1920px;