@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/typography' as t;

.body-project{
    section{
        margin: 0 auto 4rem auto; 
    }

    .max-width{
        max-width: v.$sw-m-l !important;
        margin-left: auto;
        margin-right: auto;
        padding: 0 2rem 0 2rem;
    }
    .full-width{
        max-width: 100%;
        margin: 0 auto 4rem auto; 
        background-color: c.$base-l;
        color: c.$contrast-d;
        padding: v.$TB-marg-pad-m 0 v.$TB-marg-pad-m 0;
        @media screen and (min-width: v.$sw-l){
            padding-left: calc(calc(calc(100vw - v.$sw-m-l) / 2) + v.$TB-marg-pad-m);
            padding-right: calc(calc(calc(100vw - v.$sw-m-l) / 2) + v.$TB-marg-pad-m);
        }
    }

    h2{
        color:var(--accent-color);
        margin-bottom: 2rem; 
    }

    .two-column{
        columns: 300px 2;
        column-gap: 2.5rem;
    }

    .list-style{
        list-style:disc;
        padding-left: 2rem;
        li{
            margin-bottom: 1rem;          
        }
    }
    .ordered-list-style{
        list-style: decimal-leading-zero;
        padding-left: 2rem;
        li{
            margin-bottom: 1rem;          
        }
    }
    .colored{
        color: var(--accent-color);
    }
    .title{
        font-weight: bold;
        font-size: t.$ratio1*map-get(t.$font-sizes , h4 );
        margin-bottom: calc(map-get(t.$font-sizes , h4 )/t.$lh-ratio);

        @media screen and (min-width: v.$sw-m){
            font-size: t.$ratio2*map-get(t.$font-sizes , h4 );
        }
        @media screen and (min-width: v.$sw-l){
            font-size: t.$ratio4*map-get(t.$font-sizes , h4 );
        }
    }
    
    section.hero{
        max-width: v.$sw-m-l !important;
        margin-left: auto;
        margin-right: auto;
        padding: v.$TB-marg-pad-m;

        .hero-wrapper{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(2,1fr);

            border: var(--accent-color) solid v.$border-thickness;
            border-top-right-radius: v.$highCurve-radius;

            .main-hero-text{
                margin-bottom: -2rem;
                grid-column: 1/2;
                grid-row: 2/-1;

                h1{
                    display: inline-block;
                    background-color: c.$contrast-d;
                    margin-left: calc(-1.5 * v.$border-thickness);
                    padding-right: 1rem;
                    span{
                        color: c.$base-l;                    
                    }

                }
            }
        }
    } 

    #overview{
        @media screen and (min-width: v.$sw-m){
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: auto auto;
            align-items: center;
        }

        .overview-txt{
            grid-column: 1/2;
            grid-row: 1/2;
            display: grid;
            grid-template-columns: 1fr;
            a{
                justify-self: end;
                padding: 8px 32px;
                margin-bottom: 8px;
                background-color: var(--accent-color);
                box-shadow: -8px 8px 0 c.$base-l;
                color: c.$base-l;

                &:hover{
                    background-color: c.$base-l;
                    box-shadow: -8px 8px 0 var(--accent-color);
                    color: var(--accent-color);
                }
            }        
        }
        .overview-img{
            grid-column: 2/-1;
            grid-row: 1/2;

            // &:hover{
            //     grid-column: 1/-1;
            //     z-index: 10;
            //     cursor: pointer;
            //     background-color: c.$contrast-d;
            // }
        }
    }

    #proj-details{
        grid-column: 1/-1;
        grid-row: 2/-1;

        ul.overview-titles{
            display: grid;
            row-gap: 2rem;
            column-gap: 6rem;
            @media screen and (min-width: v.$sw-m){
                grid-template-columns: repeat(2,1fr);
            }
        }
        img{
            width: 120px;
        }        
    }

    #empathize{ 
        @media screen and (min-width: v.$sw-m){

        }
    }

    #goals{
        h3{
            padding-left: 1rem;
        }
    }

    #persona{
        .persona-basicInfo{
            margin-bottom: 3rem;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(3,auto);
            row-gap: 2rem;
            align-items: end;              
            @media screen and (min-width: v.$sw-m){
                grid-template-columns: repeat(12,1fr);
                grid-template-rows: repeat(6,auto);                 
            }

            .persona-img{
                grid-column: 1/-1;
                grid-row: 1;
                @media screen and (min-width: v.$sw-m){
                    grid-column: 1/5;
                    grid-row: 1/-1;            
                }

                display: flex;
                align-items: center;
                background-color: var(--accent-color);
            }

            .info{
                grid-column: 1/-1;
                grid-row: 2;
                @media screen and (min-width: v.$sw-m){
                    grid-column: 6/-1;
                    grid-row: -1/-2;   
                        
                }
            }

            .persona-quote{
                grid-column: 1/-1;
                grid-row: 3;
                
                .quote-mark{
                    font-size:calc(map-get(t.$font-sizes , h1 ) * 6);
                    color: var(--accent-color);
                    line-height: .1;
                }
                p{
                    margin-top: -2rem;
                }

                @media screen and (min-width: v.$sw-m){
                    grid-column: 6/-1;
                    grid-row: 1/-2;            
                }

                // display: grid;
                // grid-template-columns: repeat(9,1fr);
                // .quote-text{
                //     grid-column: 2/-1;
                // }

                // margin-left: -10%;
                // position: relative;

                // .quote-text{
                //     position: absolute;
                //     width: 80%;
                //     height: auto;
                //     top: 0;
                //     right: 5%;  
                // }
            }
        }

        .persona-desc{
            border: v.$border-thickness var(--accent-color) solid ;
            padding: 2rem;

            div{
                margin-bottom: 3rem;
            }

            .applications ul{
                display: flex;
                flex-flow: row nowrap;
                grid-gap: 1.5rem;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                li{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    gap: .75rem;
                }
                img{
                    height: 48px;
                }
                span{
                    font-size: calc(t.$base-size / t.$ratio2);
                }
               
            }            
        }

    }

    #user-story{

    }

    #features{
        div.features{   
            display: grid;
            grid-gap: 2rem;
            
            @media screen and (min-width: v.$sw-m){
                grid-template-columns: repeat(3,1fr);
            } 

            .feature{
                    display: block;
                
                img{
                    height:80px;
                    display: block;
                    margin: 0 auto;
                } 

                h3{
                    text-align: center;
                    padding: 1rem 0;
                    font-weight: bold;
                    font-style: normal;
                }
            } 
        }     
    }

    #user-flow, #wireframe{
        display: grid;
        grid-gap: 1rem;

        img{
            margin-bottom: 2rem;
        }
    }

    #style-guide{
        max-width: 100%;
        margin: 0 auto 6rem auto; 
        
        div.full-width{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-items: center;
            @media screen and (min-width: v.$sw-s-m){
                grid-template-columns: repeat(2,1fr);
            } 
            img{
                max-width: 400px;
            }
        }
        .color , .typography{
            .two-column{
                margin-bottom: 1rem;
            }
        }
    }

    #market{

        img{
            max-width: 800px;
            display: block;
            margin: 0 auto;
        }
    }

}