@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/typography' as t;

// temporary
.LinkedIn-Learning{
    #overview{
        h2{
            display: block;
        }
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
}
// end of temporary

.body-project{
    section{
        margin: 0 auto 4rem auto; 
    }

    h2{
        color:var(--accent-color);
        margin-bottom: 2rem; 
        font-weight: bold;
    }
    
    .hero{
        margin-left: auto;
        margin-right: auto;
        padding-top: v.$TB-marg-pad-m;
        padding-bottom: v.$TB-marg-pad-m;
        margin-bottom: 1rem;

        .hero-wrapper{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(2,1fr);

            border: var(--accent-color) solid v.$border-thickness;
            border-top-right-radius: v.$highCurve-radius;

            .main-hero-text{
                margin-bottom: -2rem;
                grid-column: 1/2;
                grid-row: 2/-1;

                h1{
                    display: inline-block;
                    background-color: c.$contrast-d;
                    margin-left: calc(-1.5 * v.$border-thickness);
                    padding-right: 1rem;
                    span{
                        color: c.$base-l;                    
                    }

                }
            }
        }
    } 

    #overview{
        @media screen and (min-width: v.$sw-m){
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: auto auto;
            align-items: center;
        }

        .overview-txt{
            grid-column: 1/2;
            grid-row: 1/2;
            display: grid;
            grid-template-columns: 1fr;
            a{
                justify-self: end;
                padding: 8px 32px;
                margin-bottom: 8px;
                background-color: var(--accent-color);
                box-shadow: -8px 8px 0 c.$base-l;
                color: c.$base-l;

                &:hover{
                    background-color: c.$base-l;
                    box-shadow: -8px 8px 0 var(--accent-color);
                    color: var(--accent-color);
                }
            }        
        }
        .overview-img{
            grid-column: 2/-1;
            grid-row: 1/2;

            // &:hover{
            //     grid-column: 1/-1;
            //     z-index: 10;
            //     cursor: pointer;
            //     background-color: c.$contrast-d;
            // }
        }
    }

    // #proj-details{
    //     ul.overview-titles{
    //         display: grid;
    //         row-gap: 2rem;
    //         column-gap: 6rem;

    //         div{
    //             display: flex;
    //             flex-flow: column;
    //             align-items: center;

    //         }
    //         @media screen and (min-width: v.$sw-m){
    //             grid-template-columns: repeat(6,1fr);
    //         }
    //         li:nth-of-type(1){
    //             @media screen and (min-width: v.$sw-m){
    //                 grid-row:1/2;
    //                 grid-column: 1/-1;
    //             }
    //         }
    //         li:nth-of-type(2), li:nth-of-type(3){
    //             @media screen and (min-width: v.$sw-m){
    //                 grid-row: 2/3;
    //                 grid-column: span 3;
    //             }
    //         }
    //         li:nth-of-type(4), li:nth-of-type(5), li:nth-of-type(6){
    //             @media screen and (min-width: v.$sw-m){
    //                 grid-row: 3/4;
    //                 grid-column: span 2;
    //             }
    //         }
    //     }
    //     img{
    //         width: 100px;
    //     }        
    // }

    #proj-details{
        grid-column: 1/-1;
        grid-row: 2/-1;

        ul.overview-titles{
            display: grid;
            row-gap: 2rem;
            column-gap: 6rem;
            @media screen and (min-width: v.$sw-m){
                grid-template-columns: repeat(2,1fr);
            }
        }
        img{
            width: 120px;
        }        
    }

    #empathize{ 
        @media screen and (min-width: v.$sw-m){

        }
    }   

    #goals{
        h3{
            padding-left: 1rem;
        }
    }

    #user-research{
        .stickers{
            margin-bottom: 2rem;
            display: grid;
            gap: 2rem;
            justify-content: center;
            justify-items: center;
            @media screen and (min-width: v.$sw-m){
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (min-width: v.$sw-m-l){
                grid-template-columns: repeat(3, 1fr);
            }
            .sticker{
                min-width: 300px;
                max-width:400px;
                background-image: url(Assets/Images/Sticker.svg);  
                background-repeat: no-repeat;
                background-position: center;
                color: c.$contrast-d;   
                text-align: center;
                padding: 1rem 1rem 4rem 1rem;
                p{
                    text-wrap:nowrap;
                }       
            }
        }

    }

    #persona{
        .persona-basicInfo{
            margin-bottom: 3rem;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(3,auto);
            row-gap: 2rem;
            align-items: end;              
            @media screen and (min-width: v.$sw-m){
                grid-template-columns: repeat(12,1fr);
                grid-template-rows: repeat(6,auto);                 
            }

            .persona-img{
                grid-column: 1/-1;
                grid-row: 1;
                @media screen and (min-width: v.$sw-m){
                    grid-column: 1/5;
                    grid-row: 1/-1;            
                }

                display: flex;
                align-items: center;
                background-color: var(--accent-color);
            }

            .info{
                grid-column: 1/-1;
                grid-row: 2;
                @media screen and (min-width: v.$sw-m){
                    grid-column: 6/-1;
                    grid-row: -1/-2;   
                        
                }
            }

            .persona-quote{
                grid-column: 1/-1;
                grid-row: 3;
                
                .quote-mark{
                    font-size:calc(map-get(t.$font-sizes , h1 ) * 6);
                    color: var(--accent-color);
                    line-height: .3 !important;
                }
                p{
                    margin-top: -2rem;
                }

                @media screen and (min-width: v.$sw-m){
                    grid-column: 6/-1;
                    grid-row: 1/-2;            
                }
            }
        }

        .persona-desc{
            border: v.$border-thickness var(--accent-color) solid ;
            padding: 2rem;

            div{
                margin-bottom: 3rem;
            }

            .applications ul{
                display: flex;
                flex-flow: row nowrap;
                grid-gap: 1.5rem;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                li{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    gap: .75rem;
                }
                img{
                    height: 48px;
                }
                span{
                    font-size: calc(t.$base-size / t.$ratio2);
                }
               
            }            
        }

    }

    #user-story{

    }

    #market{
        h4{
            margin-bottom: 0;
        }

        img{
            display: block;
            margin: 1rem auto;
            @media screen and (min-width: v.$sw-m){
                    // max-width: 700px;
            }
        }
    }

    #features{
        // div.brainstorming{
        //     display: flex;
        //     flex-flow: row wrap;
        //     gap: 2rem;
        //     img{
        //         flex: 0 1 250px;
        //     }
        // }
        div.features{   
            display: grid;
            grid-gap: 2rem;
            
            @media screen and (min-width: v.$sw-m){
                grid-template-columns: repeat(2,1fr);
            } 

            .feature{
                display: block;
                &:last-of-type{
                    grid-column: 1/-1;
                }
                
                img{
                    height:80px;
                    display: block;
                    margin: 0 auto;
                } 

                h3{
                    text-align: center;
                    padding: 1rem 0;
                    font-weight: bold;
                    font-style: normal;
                }
            } 
        }     
    }

    #user-flow, #wireframe{
        display: grid;
        grid-gap: 1rem;
    }

    #style-guide{
        max-width: 100%;
        margin: 0 auto 6rem auto; 
        
        div.full-width{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-items: center;
            @media screen and (min-width: v.$sw-s-m){
                grid-template-columns: repeat(2,1fr);            
                img{
                max-width: 300px;
                }
            } 

        }
        .color , .typography{
            .two-column{
                margin-bottom: 1rem;
            }
        }
    }

    #design-sys{
        // .components{
        //     display: flex;
        //     flex-flow: column wrap;
        //     gap: 2rem;
        //     flex: 300px 0 300px;
        // }
        .components{
            
            display: column;
            columns: 300px 3;
            gap: 2rem;

        
            & > * {
                border: solid var(--accent-color) 1px;
                padding: .5rem;
                break-inside: avoid;
                margin-bottom: 2rem;
            }
        }
    }

    #reflection{
        display: grid;
        row-gap: 2rem;
    }

    .pagination{
        margin-bottom: 4rem;
    }


}