@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/typography' as t;


.body-template{
    section{
        margin: 0 auto 4rem auto; 
    }

   section.hero{
        margin-left: auto;
        margin-right: auto;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;

        .hero-wrapper{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(2,1fr);

            border: var(--accent-color) solid v.$border-thickness;
            
            border-top-right-radius:map-get(v.$curve-radius , xs );
            @media screen and (min-width: v.$sw-m){
                border-top-right-radius:map-get(v.$curve-radius , m );
            }
            @media screen and (min-width: v.$sw-m-l){
                border-top-right-radius:map-get(v.$curve-radius , m-l );
            }
            @media screen and (min-width: v.$sw-xl){
                border-top-right-radius:map-get(v.$curve-radius , xl );
            }

            .main-hero-text{
                margin-bottom: -2rem;
                grid-column: 1/2;
                grid-row: 2/-1;

                h1{
                    display: inline-block;
                    background-color: c.$contrast-d;
                    margin-left: calc(-1.5 * v.$border-thickness);
                    padding-right: 1rem;
                }
                .h1-italic{
                    color: var(--accent-color);
                }
            }
        }
    }

    &.digital-media{
        .projects{
            @media (orientation: landscape) {
                margin: 5rem 0 15rem 0;
            }
            @media (orientation: portrait) {
                margin: 3rem 0 10rem 0;
            }

            .mediaProject{
                // height: 100vh;
                display: flex;
                @media (orientation: landscape) {
                    flex-flow: column;
                    justify-content: end;
                    padding-top: 8rem;
                }
                @media (orientation: portrait) {
                    // height: unset;
                    flex-flow: column-reverse;
                    justify-content: center;
                    margin-bottom: 3rem;
                }
                div{
                    margin-bottom: 0 !important;
                    gap: 1rem;
                    div.heading{
                        align-self: center;
                    }
                    h3, p{
                        padding-bottom: 0 !important;
                        margin-bottom: 0 !important;
                    }
                }
                img{
                    margin: 1rem 0;

                }
            }
        }
    }     

    &.all-projects{
        .proj-img div{
            overflow: visible;
        }
    }            

    &.about{
        #introduction{
            @media screen and (min-width: v.$sw-s-m){
                display: flow-root;
            }

            .my-portrait{            
                display: flex;
                align-items: center;
                background-color: var(--accent-color);
                margin-bottom: 2rem;
                @media screen and (min-width: v.$sw-s-m){
                    float: right;
                    max-width: 30%;
                    margin-left: 2rem;
                }
            }    
        }     
        blockquote{
            text-align: center;
            font-size: 20px;
            font-style: italic;
            margin-bottom: 1.5rem;
        }
               
    }
}

